.box{
    border: 2px solid red;
    box-sizing: border-box;
}


.side{
  width: 20%;
  height: 95vh;  
  float: left;
}

.big {
    width: 80%;
    height: 95vh;
    float:left;
}

.small{
    width: 24%;
    height: 33%;
    float: left;
    margin: 0.5%;
}

.midleft{
    width: 49%;
    height: 15%;
    float: left;
    margin: 0.5%;
}



.midright{
    width: 49%;
    height: 32%;
    float: right;
    margin: 0.5%;
    
}

.downleft{
    width: 65%;
    height: 30%;
    float: left;
    margin-left: 0.5%;
}

.downright{
    width: 33%;
    height: 30%;
    float: right;
    margin-right: 0.5%;
}

@media screen and (max-width: 750px){
   .side{
    width: 100%;
    height: 10vh;
  }

  .big{
    width: 100%;
    height: auto;
    padding: 0.5%;      
  }

  .small, .midleft, .midright, .downleft, .downright{
    width: 100%;
    height: 10vh;
    margin: 0.5% 0;
  }
}

  
    
  

