*{ box-sizing: border-box; }
body{ margin: 0; }

/* כמו אצלך */
.box{
  border: 2px solid red;
}

/* layout ראשי: side + big */
body{
  height: 95vh;
  display: flex;
}

.side{
  width: 20%;
  height: 95vh;
}

.big{
  width: 80%;
  height: 95vh;

  display: flex;
  flex-direction: column;
  gap: 1%;
  padding: 0.5%;
}

/* --- TOP: 4 ריבועים --- */
.topWrap{
  display: flex;
  gap: 1%;
  height: 33%;
}

.small{
  flex: 1;
}

/* --- MIDDLE: שמאל 2 מלבנים אחד מעל השני + ימין מלבן גבוה --- */
.midWrap{
  display: flex;
  gap: 1%;
  height: 32%;
}

.leftCol{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1%;
}

.midleft{
  height: 50%;
}

.midright{
  flex: 1;
}

/* --- BOTTOM: 65/35 --- */
.bottomWrap{
  display: flex;
  gap: 1%;
  height: 30%;
}

.downleft{
  width: 65%;
}

.downright{
  width: 33%;
}

/* --- רספונסיבי: מתחת ל-750 הכל אחד מתחת לשני --- */
@media screen and (max-width: 750px){
  body{
    flex-direction: column;
    height: auto;
  }

  .side{
    width: 100%;
    height: 10vh;
  }

  .big{
    width: 100%;
    height: auto;
  }

  .topWrap, .midWrap, .bottomWrap{
    flex-direction: column;
    height: auto;
  }

  .small, .midleft, .midright, .downleft, .downright{
    width: 100%;
    height: 10vh;
  }
}
